/* src/main/resources/static/css/style.css */

/* ===========================
   ESTILOS GENERALES Y LAYOUT)
   =========================== */
body {
    background-color: #212529;
    color: white;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}


body > .container {
    flex: 1;
}

/* ===========================
   TEXTOS NEÓN
   =========================== */
.neon-text {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0dcaf0, 0 0 30px #0dcaf0;
}

.neon-text-pink {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d63384, 0 0 30px #d63384;
}

/* ===========================
   BOTONES NEÓN
   =========================== */
.btn-neon-login {
    border: 1px solid #0dcaf0;
    color: #0dcaf0;
    transition: 0.3s;
    background: transparent;
}

.btn-neon-login:hover {
    background-color: #0dcaf0;
    color: black;
    box-shadow: 0 0 10px #0dcaf0, 0 0 20px #0dcaf0;
}

.btn-neon-register {
    background-color: #d63384;
    color: white;
    border: 1px solid #d63384;
    transition: 0.3s;
}

.btn-neon-register:hover {
    background-color: #a61e61;
    border-color: #a61e61;
    box-shadow: 0 0 10px #d63384, 0 0 20px #d63384;
}

/* ===========================
   TARJETAS DE JUEGOS
   =========================== */
.game-card {
    height: 350px;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: #343a40; 
}

.game-card-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, filter 0.3s;
}

.game-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
}

.game-card:hover .game-card-img {
    transform: scale(1.05);
    filter: blur(3px) brightness(0.6);
}

.game-card:hover .game-info-overlay {
    opacity: 1;
}

.overlay-btn {
    color: white;
    border: 1px solid white;
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.2s;
}

.overlay-btn:hover {
    background-color: white;
    color: black;
}

/* ===========================
   UTILIDADES Y FOOTER
   =========================== */

.hover-white:hover {
    color: white !important;
    text-decoration: underline;
    transition: color 0.2s;
}

.hover-bg-dark:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background 0.3s;
}